body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.palabra-usuario {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: .5rem;
    width: fit-content;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    margin: 3rem auto;
}

.palabra-usuario .letra {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 3px;
    width: 50px;
    height: 70px;
}