@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
*{
    box-sizing: border-box;
}
ul, li, a{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:root{
    --color-principal: rgba(255,255,255,1);
    --color-secundario: rgba(0,0,0,1);
    --color-terciario: rgba(55,55,55,1);
}

:root.dark{
    --color-principal: rgba(0,0,0,1);
    --color-secundario: rgba(255,255,255,1);
    --color-terciario: rgba(55,55,55,1);
}


body {
    box-sizing: border-box;
    margin: 65px 0 0 0;
    padding: 0;
    min-height: calc(100vh - 65px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  auto 1fr;
    justify-content: center;
    font-family: montserrat;
    
}