
.alertas-usuario{
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 3.5rem;
    right: 0;
    z-index: 2;
}
.alertas-usuario p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 57px;
    font-size: 1rem;
    margin: .5rem auto;
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 5px;
}

@keyframes cartelError {
    0%{
        width: 0px;
        height: 0px;
        font-size: 0px;
        opacity: 0;
    }
    100%{
        width: 285px;
        height: 57px;
        font-size: 0rem;
        opacity: 1;
    }
}
@keyframes ReverseCartelError {
    0%{
        width: 285px;
        height: 57px;
        font-size: 0rem;
        opacity: 1;
    }
    100%{
        width: 0px;
        height: 0px;
        font-size: 0px;
        opacity: 0;
    }
}


/* TABLA PALABRAS */

.section-input-palabras{
    display: grid;
    grid-template-columns: auto;
    margin: 3rem auto auto auto;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    user-select: none;
    gap: .25rem;
}

.palabra-usuario {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: fit-content;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
    margin: auto;
    gap: .25rem;
}

.letra {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    border-radius: 3px;
    width: 65px;
    height: 65px;
    transition: backgrund-color .3s linear;
}

/* CLASES DE BOTONES */

.focus{
    border: 2px solid black;
}
