@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    font-family: montserrat;
    
}


.alertas-usuario{
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 3.5rem;
    right: 0;
    z-index: 2;
}
.alertas-usuario p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 57px;
    font-size: 1rem;
    margin: .5rem auto;
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 5px;
}

@keyframes cartelError {
    0%{
        width: 0px;
        height: 0px;
        font-size: 0px;
        opacity: 0;
    }
    100%{
        width: 285px;
        height: 57px;
        font-size: 0rem;
        opacity: 1;
    }
}
@keyframes ReverseCartelError {
    0%{
        width: 285px;
        height: 57px;
        font-size: 0rem;
        opacity: 1;
    }
    100%{
        width: 0px;
        height: 0px;
        font-size: 0px;
        opacity: 0;
    }
}


/* TABLA PALABRAS */

.section-input-palabras{
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    user-select: none;
    gap: .25rem;
}

.palabra-usuario {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: fit-content;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
    margin: auto;
    gap: .25rem;
}

.letra {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    border-radius: 3px;
    width: 55px;
    height: 55px;
    transition: backgrund-color .3s linear;
}

@keyframes keyInput {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}


@keyframes aparicion {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
    }

.error-usuario .error-msg{
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: red;
    font-weight: 600;
    width: 100%;
    height: 22px;

}

@keyframes palabraNoValida {
    0%{
        transform: translateX(-4px);
    }
    10%{
        transform: translateX(4px);
    }
    20%{
        transform: translateX(-4px);
    }
    30%{
        transform: translateX(4px);
    }
    40%{
        transform: translateX(-4px);
    }
    50%{
        transform: translateX(4px);
    }
    60%{
        transform: translateX(-4px);
    }
    70%{
        transform: translateX(4px);
    }
    80%{
        transform: translateX(-4px);
    }
    90%{
        transform: translateX(4px);
    }
    100%{
        transform: translateX(0px);
    }
}


/* TECLADO */
.teclado-usuario{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    height: fit-content;
    gap: .25rem;
    padding: 1rem;
    user-select: none;
    cursor: pointer;
}

.linea-letras{
    display: flex;
    flex-direction: row;
    gap: .25rem;
    width: 100%;
}

.cargar-letra{
    display: inline-flex;
    width: 40px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid lightgray;
    background-color: lightgray;
    border-radius: 5px;
    transition: all .3s linear;
}
    .cargar-palabra, .borrar-letra{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
        height: 50px;
        border: 2px solid lightgray;
        background-color: lightgray;
        border-radius: 5px;
        font-weight: 700;
        transition: all .3s linear;
    }

.cargar-letra:hover, .cargar-palabra:hover, .borrar-letra:hover{
    background-color: rgba(211, 211, 211, 0.5);
    border:2px solid  rgba(211, 211, 211, 0.5);
}

/* CLASES DE BOTONES */

.focus{
    border: 2px solid black;
}

.correcta{
    animation: aparicion .3s linear;
    border: 2px solid rgb(65, 155, 65);
    background-color: rgb(111, 230, 111);
    color: white;
}

.existe{
    animation: aparicion .3s linear;
    border:2px solid rgb(165, 141, 63);
    background-color: rgb(230, 196, 87);
    color: white;
}

.noexiste{
    animation: aparicion .3s linear;
    border: 2px solid rgb(82, 94, 107);
    background-color: lightslategrey;
    color: white;
}